<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <ul class="list-reset header__nav-list">
        <li class="header__nav-item">
          <a href="#table" class="header__nav-link header__nav-link--active">Таблица</a>
        </li>
        <li class="header__nav-item">
          <a href="#form" class="header__nav-link">Форма</a>
        </li>
        <li class="header__nav-item">
          <a href="#gallery" class="header__nav-link">Галерея</a>
        </li>
      </ul>
    </nav>
  </div>
</header>