<section id="table" class="table">
  <h2 class="block-title">Таблица</h2>
  <p class="block-descr">Должна быть адаптивной, без дублирования информации.</p>
  <table class="table__container">
    <tr class="table__stroke table__stroke-title">
      <th class="table__cell table__cell-title">Название</th>
      <th class="table__cell table__cell-title">Материал</th>
      <th class="table__cell table__cell-title">Размер</th>
      <th class="table__cell table__cell-title table__cell-price">Цена</th>
      <th class="table__cell table__cell-title"></th>
    </tr>
    <tr class="table__stroke">
      <td class="table__cell" data-label="Название">Стеновой паркет</td>
      <td class="table__cell" data-label="Материал">Ольха</td>
      <td class="table__cell" data-label="Размер">13 × 78 × 300 мм</td>
      <td class="table__cell table__cell-price" data-label="Цена">52 ₽</td>
      <td class="table__cell"><button class="btn-reset btn-basket btn-basket--1">В корзину</button></td>
    </tr>
    <tr class="table__stroke">
      <td class="table__cell" data-label="Название">Стеновой паркет</td>
      <td class="table__cell" data-label="Материал">Ольха</td>
      <td class="table__cell" data-label="Размер">13 × 78 × 600 мм</td>
      <td class="table__cell table__cell-price" data-label="Цена">112 ₽</td>
      <td class="table__cell"><button class="btn-reset btn-basket btn-basket--2">В корзину</button></td>
    </tr>
    <tr class="table__stroke">
      <td class="table__cell" data-label="Название">Доска для пола, сорт А</td>
      <td class="table__cell" data-label="Материал">Лиственница</td>
      <td class="table__cell" data-label="Размер">27 × 134 × 2000 мм</td>
      <td class="table__cell table__cell-price" data-label="Цена">1062 ₽</td>
      <td class="table__cell"><button class="btn-reset btn-basket btn-basket--3">В корзину</button></td>
    </tr>
    <tr class="table__stroke">
      <td class="table__cell" data-label="Название">Вагонка</td>
      <td class="table__cell" data-label="Материал">Термо-абаш</td>
      <td class="table__cell" data-label="Размер">19 × 90 × 2000 мм</td>
      <td class="table__cell table__cell-price" data-label="Цена">1009 ₽</td>
      <td class="table__cell"><button class="btn-reset btn-basket btn-basket--4">В корзину</button></td>
    </tr>
  </table>
</section>