//цвета
$color-main:#333333;
$color-black:#1D1D1F;
$color-primary: #0066CC;
$color-block-background:#F5F5F7;
$color-input-border: #E1E1E1;
$color-filter-back: #F2F4F7;
$color-invalid: #DC3545;


//шрифты
$Gilroy: 'Gilroy', sans-serif;
$font-block-descr: 400 20px / 32px $Gilroy;
$font-regular: 400 16px / 24px $Gilroy;
$font-regular-mini: 400 14px / 16px $Gilroy;
$font-nav: 500 16px / 32px $Gilroy;
$font-mini-title: 600 16px / 24px $Gilroy;
$font-block-title: 700 48px / 64px $Gilroy;
$font-block-title-mobile: 700 40px / 56px $Gilroy;

//отступы
$margin-section: 104px;
$margin-right: 32px;


